# Eclipse
.project
.classpath
.factorypath
.settings/
bin/

/.idea/

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
/examples/*/target/

# Gradle
/examples/*/build/
/examples/*/.gradle/
